.App {
  border: 1px solid grey;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}

h1 {
  font-size: 1.6rem;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.is-flex {
  display: flex;
}

.form-control {
  margin-right: 20px;
}

button {
  margin-right: 10px;
}

.error {
  background-color: pink;
  border: 1px solid red;
  padding: 5px;
  margin: 15px 0 40px 0;
}

.no-history {
  text-align: center;
  margin: 50px 0;
  color: grey;
}